@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

body {
  margin: 0;
  background: linear-gradient(217deg, hsla(210, 64%, 31%, .6), hsla(0, 0%, 9%, .9) 70.71%),
              linear-gradient(290deg, hsla(0, 0%, 9%, .9), hsla(210, 64%, 31%, .1) 70.71%),
              linear-gradient(320deg, hsla(210, 64%, 31%, .5), hsla(0, 0%, 9%, .6) 70.71%);
              background-attachment: fixed;
}